<div style="padding:0;width:55px;height:55px;" class="cmd tooltips cmd-widget container-fluid" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" title="#Vigification#">
	<div style="position: absolute;">
		<img class="SelectCase img-responsive" width='50' src='plugins/CaveVin/core/template/images/CasierSelect.png'>
		<div class="NbBouteille" style="position: absolute;left: 50%;top:50%;text-align: center;"></div>
		<div class="Attention" style="position: absolute;top:50%;text-align: right;">!</div>
	</div>
        <span style="font-size: 3em;font-weight: bold;margin-top: 5px;" class="iconCmd"></span>
    	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$(".cmd[data-cmd_uid=#uid#] .SelectCase").hide();
			$('.cmd[data-cmd_id=#id#] .NbBouteille').empty().append(_options.NbBouteille);
			$('.cmd[data-cmd_id=#id#] .Attention').hide();
			if(_options.Attention)
				$('.cmd[data-cmd_id=#id#] .Attention').show();
			if (_options.display_value == '1') {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append("<img width='50' src='plugins/CaveVin/core/template/images/Casier"+_options.Couleur+".png'>");
			} else {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append("<img width='50' src='plugins/CaveVin/core/template/images/CasierVide.png'>");

			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',NbBouteille:'#NbBouteille#',Couleur:'#Couleur#',Attention:'#Attention#'});
		$('.cmd[data-cmd_uid=#uid#] .iconCmd').off().on('click', function () {
			$(this).closest('.eqLogic').find(".SelectCase").hide();
			$(this).parent().find(".SelectCase").show();
			logement='#id#';
			if ( typeof ActiveDialog === 'undefined' || ActiveDialog == false ){
				$('#md_modal').dialog({
					title: "Fiche vin du casier",
						height: 700,
						width: 850});
				$('#md_modal').load('index.php?v=d&modal=FicheVin.CaveVin&plugin=CaveVin&type=CaveVin', function() {
					getVinInformation('#Vin#');
				});
				$('#md_modal').dialog('open');
			}	
			else
				getVinInformation('#Vin#');
		});
    </script>
</div>